<!DOCTYPE html>
<html>
<%-include('templates/head');%>
<title><%=title%></title>

<body class="nav-md">


<%-include('templates/header');%>
<!-- body -->


		<div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index" class="site_title"><img src="../public/favicon.ico">  <span>neo4j Manager</span></a>
          </div>
          <div class="clearfix"></div>


         
          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <ul class="nav side-menu">
                <li><a><i class="fa fa-plus"></i> A PROPOS<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="sgbdr">LES BASE RELATIONNELLES</a>
                    </li>
                    <li><a href="nosql">NOSQL</a>
                    </li>
                    <li><a href="neo4j">NEO4J</a>
                    </li>
                  </ul>
                </li>

               <li><a href="test"><i class="fa fa-database"></i> MIGRATION</a>
                  
                </li>

                   
                    
                  </ul>
                </li>
               
              </ul>
            </div>
          

          </div>
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
      <div class="right_col" role="main">
        <div class="">

         
          <div class="clearfix"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
               <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="product-image">
                      <img src="../public/neo.png" alt="..." />
                    </div>
                
                
                  

                  <div class="clearfix"></div>
                </div> 

            
                </div>
              </div>
            </div>
          </div>




      </div>

    </div>
  </div>


<!-- FIN body -->
<%-include('templates/footer');%>
<%-include('templates/scripts');%>
</body>
</html>